.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 2000px;
    background-color: #000000;
}

.header {
    height: 100px;
    width: 100%;
    align-items: center;
    background-color: #1a2a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 28px;
    color: #ffffff;
    text-align: center;
}

.status {
    font-size: 18;
    color: #ffffff;
    text-align: center;
}

.sensor-scroll {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.sensor-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: #1a1a1a;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 6px;
    align-items: center;
    justify-content: space-around;
}
.highlight {
    background-color: #1a2a1a;
    border-color: #2a4a2a;
    border-width: 1px;
}

.label {
    font-size: 18px;
    font-variant: normal;
    color: #888888;
}

.value {
    font-size: 24px;
    color: #ffffff;
    margin-top: 2px;
}

.controls {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-main {
    width: 20%;
    height: 50px;
    background-color: #ff4382e0;
    color: #ffffff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    border-radius: 18px;
}

.alert-overlay {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: #3a0000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alert-title {
    margin-top: 15px;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}

.alert-message {
    font-size: 16px;
    color: #cccccc;
    margin-top: 8px;
    text-align: center;
}

.btn-ok {
    width: 40%;
    height: 40px;
    background-color: #ff4382e0;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn-text {
    font-size: 20px;
}
